.about__content {
    height: 65vh;
    justify-content: center;
}

.about__img {
    height: 15em;
}

.content__about {
    width: 80%;
    display: flex;
    align-items: center;
    
}


.section__title1 {
    width: 4.5em;
    color:#3e6ff4 ;
    font-size: 2.5em;
    font-weight: bold;
    padding: .2em .1em;
    margin: .5em auto;
    border-bottom:.07em solid #3e6ff4;
}


