.hobbies {
    
    background: #F5F5F5;
    margin-top: 32px;
    
    
}

.hobbies-container p {
    font-size: 16px;
    margin-left: 16px;
}

.hobbies h2 {
    text-align: center;
    font-size: 38px;
    margin-top: 80px;
    margin-bottom:32px;
}

.hobbies-container  {
    margin-left:152px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
}

.hobbies img {
    width: 24px;
    height: 37px;
    display: flex;
    margin-top: 79px;
    margin-left: 16px;
}

.hobbies-container li {
    list-style: none;
    width: 170px;
    height: 170px;
    background: white;
    display: inline-block;
}