.presentation {
    width: 80%;
    height: 100vh;
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin: auto;
    
}


.info__presentation h2 {
    font-size: 3.5em;
    margin: .2em auto;
    font-weight: bold;
    
}

.color__ronaldo {
    color: #3e6ff4;
}

.button__presentation {
    color: #ffffff;
    background: #3e6ff4;
    padding: .5em;
    border-radius: .2em;
    font-size: .9em;
}

.button__presentation:hover {
    background: #60EFB8;
    color: #3e6ff4;
    font-weight: bold;
}



img {
    height: 19em;
    margin: auto;
    border-radius:5em;
}

.home__social {
    display: flex;
    margin: .8em 0;
}

.home__social-icon {
    font-size: 1.5em;
    margin: 0 1em;
}

.home__social-icon:hover {
    color: #3e6ff4;
    transition: 500ms;
}