@media screen and (min-width: 0px) and (max-width:400px) {
    .header__principal {
        background: red;
        
    }
}

@media screen and (min-width: 410px) and (max-width:960px) {
    .header__principal {
        background: rgb(58, 210, 16);
        
    }
}


@media screen and (min-width:960px) {
    .header__principal {
        background: 
        
    }
}


