.skills__section {
    height: 80vh;
    position: relative;
}

.section__title2 {
    width: 2.5em;
    color:#3e6ff4 ;
    font-size: 2.5em;
    font-weight: bold;
    padding: .2em .1em;
    margin: .5em auto;
    border-bottom:.07em solid #3e6ff4;
}

.skills__container {
    display: flex;
    font-size: 1.2em;
    width: 85%;
    margin: auto;
    
}

.skills__data {
    border-radius: .4em;
    background: linear-gradient(145deg, #ffffff, #ffffff);
    box-shadow:  .1em .1em .5em #bfbfbf,
    -1em -1em 1em #ffffff;
    margin: 1em 0em;
}

.skills__names {
    padding: .5em; 
}

.skills__img {
    width: 19em;
    height: 15em;
    margin: auto;
    border-radius: 2em;
}

.skills__names i {
    font-size: 1.3em;
    color: #3e6ff4 ;
    
}