@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


body {
    font-family: 'Raleway', sans-serif;
    background: #F5F5F5;
}

/* Navigation */

.logo1 {
    width: 20px;
}

.brand {
    width: 30%;
    font-weight: normal;
    
}

.brand li {
    list-style: none;
}

.navbar {
    margin-left: 152px;
    display: flex;
    margin-top: 34.5px;
    font-size: 17px;
    font-weight: bold;
    
}

.menu {
    display: flex;
    width: 80%;
    margin-left: 40px;
}

.menu li {
    list-style: none;
    
}

.menu a {
    color: #464646;
    text-decoration: none;
    padding: 7px 7px;
    border-radius: 7px;
    margin-right: 10px;
}

.menu a:hover {
    background-color: rgba(127, 233, 233, 0.668);
    transition: ease-in .7s; 
    border-radius: 7px;
}

/*PRESENTATION*/

.presentation {
    height: 100vh;
    margin: 0px 150px;
    background: #F5F5F5;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.presentation h2 {
    width: 700px;
    font-size: 52px;
    margin-bottom: 24px;
}

.presentation p {
    font-size: 22px;
}

.presentation img {
    width: 330px;
    height: 330px;
    margin-left:17px;
    border-radius:208px;
    
}

/*ABOUT ME*/

.abaut-me {
    height: 50vh;
    margin-top: 35px;
    background-color:  #EAF2FD;
    
    
}

.content h2,
.content p {
    
    margin-left: 152px;
}

.content h2 {
    font-size: 32px;
    padding-top: 64px;
    margin-bottom: 16px;
}

.content p {
    font-size: 16px;
    width: 751px;
}


/*SKILLS*/

.skills {
    
    background: #F5F5F5;
    margin-top: 32px;
}

.skills-container p {
    font-size: 16px;
    margin-left: 16px;
}

.skills h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom:32px;
}

.skills-container  {
    margin-left:152px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    font-size: 2rem
    
}

.skills-container li {
    list-style: none;
}

.skills img {
    width: 24px;
    height: 37px;
    display: flex;
    margin-top: 94px;
    margin-left: 16px;
    margin-bottom: 8px;
}

.skills .react {
    width: 32px;
    height: 40px;
}

.skills-container li {
    width: 170px;
    height: 170px;
    background: white;
    display: inline-block;
}


/*HOBBIES*/

.hobbies {
    
    background: #F5F5F5;
    margin-top: 32px;
    
    
}

.hobbies-container p {
    font-size: 16px;
    margin-left: 16px;
}

.hobbies h2 {
    text-align: center;
    font-size: 38px;
    margin-top: 80px;
    margin-bottom:32px;
}

.hobbies-container  {
    margin-left:152px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
}

.hobbies img {
    width: 24px;
    height: 37px;
    display: flex;
    margin-top: 79px;
    margin-left: 16px;
}

.hobbies-container li {
    list-style: none;
    width: 170px;
    height: 170px;
    background: white;
    display: inline-block;
}

/*Projects*/

.Projects {
    background: #EAF2FD;
    height: 100vh;
    margin-top: 88px;
    }

.Projects h2 {
    text-align: center;
    font-size: 32px;
    padding-top: 82px;
    }

.Projects-container {
    margin-left: 152px;
    }



/*CONTACTO*/


.contacto {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.form {
   
    max-inline-size: 550px;
    margin: auto;
    }

.cuadro__blanco {
    background: #ffffff;
    border: none;
    width: 500px;
    height: 40px;
} 

.cuadro1 {
    
    width: 500px;
    border: none;
}


.tag, p{
    margin-bottom: 15px;
}


.form label {
    display: block;
    margin: 5px 0;
    
}

.telefono {
    margin: auto;
    margin-left: 200px;
    height: 480px;
    
}

.btn1 {
    border: none;
    border-radius: 1px;
    padding: 7px 5px;
    color: #F5F5F5;
    background: #2A7AE4;
}




